@import "src/scss/base/vars";

.section-cart {
  margin-top: 77px;
  padding: 30px 0 90px;
  display: flex;
  flex-direction: column;
  &__title {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    @include mediaMobile {
      font-size: 24px;
      margin-bottom: 14px;
    }
  }
}

.cart {
}
.cart-header {
  display: grid;
  grid-template-columns: 5fr repeat(3, 3fr) 1fr;
  justify-items: center;
  color: $header-color;
  padding: 22px 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgb(18, 37, 56, 0.3);
  text-transform: uppercase;
  @include mediaMobile {
    display: none;
  }
}
.cart-product {
  color: $black;
  display: grid;
  padding: 20px 0;
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);
  grid-template-columns: 2fr repeat(4, 3fr) 1fr;
  justify-items: center;
  align-items: center;
  font-size: 16px;
  @include mediaMobile {
    grid-template-columns: repeat(2, 2fr) repeat(3, 1fr) 30px;
    grid-auto-rows: minmax(60px, auto);
    font-size: 14px;
  }
  &__img {
    max-width: 100px;
    max-height: 100px;
    img {
      border-radius: 5px;
    }
  }
  &__title {
    padding-left: 10px;
    justify-self: start;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__quantity {
    display: flex;
    gap: 10px;
    @include mediaMobile {
      flex-direction: column-reverse;
      gap: 0;
      align-items: center;
    }
    &__icon {
      color: $header-color;
      font-size: 24px;
      @include mediaMobile {
        font-size: 14px;
      }
      &:hover {
        color: $blue;
      }
      &:active {
        color: $blue;
      }
    }
    span {
      font-weight: bold;
    }
  }
  &__total-price {
    span {
      color: $red;
    }
  }
  &__delete {
    font-size: 16px;
    color: $header-color;
    &:hover {
      color: $blue;
    }
  }
}
.cart-footer {
  background-color: rgba(18, 37, 56, 0.3);
  color: $header-color;
  padding: 22px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 5fr repeat(3, 3fr) 1fr;
  justify-items: center;
  @include mediaMobile {
    font-size: 16px;
    padding: 11px 0;
  }
  &__count {
    grid-column-start: 3;
    @include mediaMobile {
      grid-row-start: 1;
      grid-column-start: 1;
    }
  }
  &__total {
    span {
      color: $red;
    }
  }
  @include mediaMobile {
    grid-template-columns: 1fr 1fr;
  }
}
.section-cart__actions {
  margin-top: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: 5fr repeat(3, 3fr) 1fr;
  &__clear {
    grid-column-start: 1;
  }
  &__checkout {
    grid-column-start: 4;
  }
  @include mediaMobile {
    display: flex;
    justify-content: space-around;
  }
}
