@import "./src/scss/base/vars";
.product-card {
  padding: 16px;
  &__image {
    position: relative;
    display: block;
    height: 170px;
    text-align: center;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 140px;
      max-width: 100%;
    }
  }
}
.product-card__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  color: $black;
  &__description {
    height: 62px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 8px;
    p {
      font-weight: bold;
    }
    a {
      overflow: hidden;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.product-card__price {
  width: 100%;
  color: $black;
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  &__discount {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    border-left: $green solid 4px;
    background-color: $green40;
  }
  &__old {
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1.2;
    text-decoration: line-through;
    padding-left: 10px;
  }
  &__curr {
    font-size: 20px;
    line-height: 1;
    color: $red;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    margin: 8px 0;
  }
}

.product-card__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
