@import "./vars";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  font-family: $font-main;
  background-color: $background-color;
  color: $black;
  font-size: 14px;
}

a {
  color: $black;
  transition: color 0.2s ease-in;
  &:hover {
    color: $red;
    text-decoration: underline;
  }
}
svg {
  cursor: pointer;
}
button {
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
}
.container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.none {
  display: none !important;
}
.grid-home-container {
  display: grid;
  margin-top: 77px;
  grid-template-columns: 300px 1fr;
  @include mediaTablet {
    grid-template-columns: 200px 1fr;
  }
}
