//Fonts
$font-main: "Poppins", sans-serif;
$background-color: whitesmoke;
//Colors
$header-color: #122538;
$green: #00a046;
$green80: #44b26f;
$green40: #a1d8b6;
$black: #221f1f;
$black60: #797878;
$red: #f84147;
$blue: #3e77aa;
$blue-light: #adb8c8;
$white: #fff;

//Media
$tablet: 959px;
$mobile: 600px;

//Mixins
@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin mediaMobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
